{% load static %}
<form method="GET" data-url="{% url 'details' article.id %}"  class="article-details" enctype="multipart/form-data">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Información detallada</h4> 
	</div>
    <div class="modal-body">
		<div class="container">
			<div class="pull-left">
				<!-- img to image-->
				{% if  article.img %}
					<img class="img-circle" src="{{ article.img.url }}" width="100px">
				{% else %}
					<img class="img-circle" src="{% static 'assets/img/box.jpg' %}" alt="{{article.name}}" height="60" />
				{% endif %}
			</div>
			<div class="row">
				<div class="col">
					<!-- Name article-->
					<div class="col col-sm-2">
						<b>Nombre:</b> {{article.name}}
					</div>
					<div class="">
						<!-- Quantity article-->
						<b>Cantidad:</b> {{article.quantity}}
					</div>
					<div class="col col-sm-2">
						<!-- Brand article-->
						<b>Marca:</b> {{ article.fk_brand }}
					</div>
					<div class="col col-sm-2"> 
						<!-- Model article-->
						<b>Modelo:</b> {{article.model}}
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col col-sm-2">
					<!-- Category article-->
					<b>Categoria:</b> {{ article.fk_category }}
				</div>
				<div class="col col-sm-2">
					<!-- Coust buy article-->
					<b>Costo:</b> ${{article.cost_buy}}
				</div>
				<div class="col col-sm-2">
					<!-- Supplier article-->
					<b>proveedor:</b> {{ article.fk_supplier }}
				</div>
			</div>

			<div class="row">
				<!-- useful life article-->
				<div class="col col-sm-3">
					<br>
					<b>Fecha de ingreso:</b> {{article.userful_life}}
				</div>
				<div class="col col-sm-3">
					<br>
					<b>Fecha de salida:</b> {{article.date_check}}
				</div>
			</div>
			<div class="row">
				<!-- actual state article-->
				<br>
				<div class="col col-sm-3">
					<b>Estado actual:</b> {{ article.actual_state }}
				</div>
				<!-- Locatin location-->
				<div class="">
					<b>Ubicación:</b> {{article.location}}
				</div>
				<br>
				<!-- description description-->
				<div class="col col-sm-3">
					<b>Descripción:</b> {{article.description}}
				</div>
			</div>		
		</div>
		<br>
		<!--qrcode-->
		<img src="{{ article.qr.url }}" alt="Event QR code" width="180" height="180"/>
	</div>
	<div class="modal-footer">
	</div>
</form>