{% load qr_code %}
{% load static %}
<form method="GET" data-url="{% url 'details' article.id %}"  class="article-details" enctype="multipart/form-data">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Información detallada</h4> 
	</div>
    <div class="modal-body">
		<div class="form-row">
			<div class="pull-left">
				<!-- img to image-->
				<img class="img-circle" src="{{ article.img.url }}" width="100px">
			</div>
			<!-- Name article-->
			<div class="form-group col-md-6">
				<b>Nombre:</b> {{article.name}}
			</div>
			<!-- Quantity article-->
			<div class="form-group col-md-3">
				<b>Cantidad:</b>{{article.quantity}}
			</div>
			<!-- Brand article-->
			<div class="form-group col-md-4 ">
				<b>Marca:</b>{{ article.fk_brand }}
			</div>
				<!-- Model article-->
			<div class="form-group col-md-4">
				<b>Modelo:</b>{{article.model}}
			</div>
			<!-- Category article-->
			<div class="form-group col-md-3 ">
				<b>Categoria:</b>{{ article.fk_category }}
				<br>
			</div>
			<!-- Coust buy article-->
			<div class="form-group col-md-3">
				<br>
				<b>Costo:</b> ${{article.cost_buy}}
			</div>
			<!-- Supplier article-->
			<div class="form-group col-md-3 ">
				<b>proveedor:</b> {{ article.fk_supplier }}
			</div>
			<!-- useful life article-->
			<div class="form-group col-md-6">
				<b>Fecha de ingreso:</b> {{article.userful_life}} <br>
				<b>Fecha de salida:</b> {{article.date_check}}
			</div>
			<!-- actual state article-->
			<div class="form-group col-md-6">
				<b>Estado actual:</b> {{ article.actual_state }}
			</div>
			<!-- Locatin location-->
			<div class="form-group col-md-12">
				<b>Ubicación:</b> {{article.location}}
			</div>
			<!-- description description-->
			<div class="form-group col-md-12 mb-0">
			<b>Descripción:</b> {{article.description}}
			</div>		
		</div>
		<!--qrcode-->
		<b>Descripción:</b><img src="{{ article.qr.url }}" alt="Event QR code" width="150" height="150"/>
	</div>
	<div class="modal-footer">
	</div>
</form>