{% extends "base.html" %}

{% block title %}
<div class="row">
    <div class="col-sm-2">
        <h4 class="pull-left page-title"> Inventario </h4> 
    </div>
    <div class="col-sm-10">
        <form action="{% url 'feed' %}" >
            {% csrf_token %} 
            <div class="input-group col-sm-6 ">
                <input name='search' autocomplete="off" placeholder="Buscar..." class="form-control align-items-center" type="search">
            </div>
        </form>
    </div>
</div>
{% if user.is_superuser %}
<a type="button" class="btn btn-primary show-form" data-url="{% url 'add' %}">
    <span class="glyphicon glyphicon-plus"></span>
    Agregar
</a>
{% else %}
{% endif %}
<br>
{% endblock title %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="modal fade" id="modal-action">
                <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="all-table">
        <ul id="show_items" >
            {% include 'inventory/list_feed.html' %}
        </ul>
    </div>
    {% if article.has_other_pages %}
        <ul class="pagination">
            {% if article.has_previous %}
                <li><a href="?page={{ article.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in article.paginator.page_range %}
                {% if article.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if article.has_next %}
                <li><a href="?page={{ article.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock body_block %}
