{% extends "base.html" %}

{% block body_block %}
<a type="button" class="btn btn-primary show-form" data-url="{% url 'add' %}">
    <span class="glyphicon glyphicon-plus"></span>
    Agregar
</a>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title">Articulos</h3>
            </div>
            <hr>
            <div class="modal fade" id="modal-action">
                <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="all-table">
        <ul>
            {% include 'inventory/list_feed.html' %}
        </ul>
    </div>
</div>
{% endblock body_block %}