{% load static %}

{% for article in  article %}
    <div class="cards card-1">
        {% if request.user.is_superuser %}
            <div id="navbar-menu" class="pull-right">
                <a class="show-form-update lnr lnr-pencil" data-url="{% url 'update' article.pk %}"></a>&nbsp;&nbsp;
                <a class="show-form-delete lnr lnr-trash" data-url="{% url 'delete' article.id %}"></a>
            </div> 
        {% else %}
        {% endif %}
        <div class="panel">
            <div class="panel-body">
                <div class="row"> 
                    <div class="col-xs-10">
                        <a>
                            <a class="show-details" data-url="{% url 'details' article.id  %}">
                                {% if  article.img %}
                                    <img class="img-circle" src="{{ article.img.url }}"  alt="Articulo" width="70px"/>
                                {% else %}
								    <img class="img-circle" src="{% static 'assets/img/box.png' %}" alt="{{article.name}}" height="60" />
                                {% endif %}
                            </a> 
                        </a>	
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-xs-12">   
                    <span class="title panel-subtitle pull-center"><b>{{article.name}}</b></span>
                    <span class="pull-right"><a class="text-muted">Total:</a>{{ article.total }}</span>
                </div>
                <div class="col-xs-12">
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a class="text-muted">Ubicacion: {{article.location}}</a> 
                        </li>
                        <li>
                            <a class="text-muted">Cantidad: {{article.quantity}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
{% empty %}
    <tr>
        <div class="alert alert-warning" role="alert" >
            <td>No hay Articulos!</td>
        </div>
    </tr>
{% endfor %}