{% for article in  article %}
    <div class="cards card-1">
        {% if user.is_superuser %}
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class=" fa fa-ellipsis-v" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu">
                            <li><a class="show-form-update lnr lnr-pencil" data-url="{% url 'update' article.pk %}"> Actualizar</a></li>
                            <li><a class="show-form-delete lnr lnr-trash" data-url="{% url 'delete' article.id %}"> Borrar</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
        {% endif %}
        <div class="panel">
            <div class="panel-body">
                <div class="row"> 
                    <div class="col-xs-10">
                        <a>
                            <a class="show-details" data-url="{% url 'details' article.id  %}">
                                <img  class="img-circle" {% if  article.img %} src="{{ article.img.url }}" {% endif %} alt="Articulo" width="70px">
                            </a>
                        </a>
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-xs-12">   
                    <span class="title panel-subtitle pull-center">{{article.name}}</span>
                </div>
                <div class="col-xs-12">
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a class="text-muted">Ubicacion: {{article.location}}</a> 
                        </li>
                        <li>
                            <a class="text-muted">Cantidad: {{article.quantity}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <tr>
        <div class="alert alert-warning" role="alert">
            <td>No hay Articulos!</td>
        </div>
    </tr>
{% endfor %}