{% load crispy_forms_tags %}

<form method="post" data-url="{% url 'update' form.instance.pk %}" class="article-update-form" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal-header"> 
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
		<h4 class="modal-title">Actualizar articulo</h4> 
	</div> 
	<div class="modal-body"> 
		<div class="form-row">
			<!-- Name article-->
			<div class="form-group col-md-5">
				{{ form.name|as_crispy_field }}
			</div>
			<!-- Quantity article-->
			<div class="form-group col-md-3">
				{{ form.quantity|as_crispy_field }}
			</div>
			<!-- Brand article-->
			<div class="form-group col-md-4 ">
				{{ form.fk_brand|as_crispy_field }}
			</div>
				<!-- Model article-->
			<div class="form-group col-md-3">
				{{ form.model|as_crispy_field }}
			</div>
			<!-- Category article-->
			<div class="form-group col-md-3 ">
				{{ form.fk_category|as_crispy_field }}
			</div>
			<!-- Coust buy article-->
			<div class="form-group col-md-3">
				{{ form.coust_buy|as_crispy_field }}
			</div>
			<!-- Supplier article-->
			<div class="form-group col-md-3 ">
				{{ form.fk_supplier|as_crispy_field }}
			</div>
			<!-- useful life article-->
			<div class="form-group col-md-6">
				{{ form.userful_life|as_crispy_field }}
			</div>
			<!-- actual state article-->
			<div class="form-group col-md-6">
				{{ form.actual_state|as_crispy_field }}
			</div>
			<!-- date check date check-->
			<div class="form-group col-md-4">
				{{ form.date_check|as_crispy_field }}
			</div>
			<!-- user to User-->
			<div class="form-group col-md-4">
				{{ form.fk_user|as_crispy_field }}
			</div>
			<!-- user to microbusiness-->
			<div class="form-group col-md-4">
				{{ form.fk_microbusiness|as_crispy_field }}
			</div>
			<!-- Locatin location-->
			<div class="form-group col-md-12">
				{{ form.location|as_crispy_field }}
			</div>
			<!-- img to image
			<input class="form-group {% if form.img.errors %}is-invalid{% endif %}"
				type="file" name="img" id='img'>
				-->
			<!-- description description-->
			<div class="form-row">
				<div class="form-group col-md-12 mb-0">
					{{ form.description|as_crispy_field }}
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="modal-footer">
		<input type="button" value="Cancelar" class="btn btn-secundary" data-dismiss="modal">
		<input type="submit" value="Actualizar" class="btn btn-primary">
	</div>
</form>