<div class="panel-body col-md-6">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>¥</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for microbusiness in microbusiness %}
                <tr>
                    <td><a class="desactivate lnr lnr-apartment"></a></td>
                    <td>{{microbusiness.name}}</td>
                    <td></td>
                    <td></td>
                    <td align="center">
                        <a class="btn btn-danger mb-delete" data-url-m="{% url 'delete_m' microbusiness.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center bg-warning">No hay Micronegocios!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>