{% load static %}

{% for microbusiness in microbusiness %}
<div class="col col-lg-5">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% url 'areas_mb' microbusiness.id %}">
                    {% if microbusiness.img %}
                        <img src="{{ microbusiness.img.url }}" style="width:119%; max-width:500px; height: 200px"  alt="Imagen">
                    {% else %}
                        <img src="{% static 'assets/img/Empresa.png' %}" style="width:119%; max-width:500px; height: 200px"  alt="Imagen">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-8">
                <a class="show-form-delete  mb-delete  lnr lnr-cross pull-right" data-url-m="{% url 'delete_m' microbusiness.id %}"></a>&nbsp;&nbsp;
                <div class="card-body">
                    <a class="mcb-update lnr lnr-pencil pull-right" data-url-m="{% url 'update_mcb' microbusiness.id %}"></a>
                    <h5 class="card-title"> <b> {{microbusiness.name}} </b></h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
    <tr>
        <td class="text-center bg-warning">No hay Micronegocios!</td>
    </tr>
{% endfor %}