{% extends "base.html" %}

{% block title %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="pull-left page-title"> Provedores </h3>
        <ol class="breadcrumb pull-right">
            <li><a href="#">Provedores</a></li>
            <li class="active"><a href="{% url 'feed' %}">Inventario</a></li>
        </ol>
    </div>
</div>
{% endblock title %}

{% block body_block %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <!-- TABLE category -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title lnr lnr-list"> Lista de provedores
                            <a type="button" class="btn btn-primary supplier-form pull-right" data-url-s="{% url 'add-s' %}">
                                <span class="lnr lnr-plus-circle"></span> 
                                Agregar 
                            </a>
                        </h3>                     
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="modal fade" id="modal-s">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row table" id="table-s">
                        <ul>
                            {% include 'inventory/supplier/supplier_list.html'%}
                        </ul>
                    </div>
                </div>
            <!-- END category -->
            </div>
        </div>
    </div>
</div>

{% endblock body_block %}