{% load static %}

<table  id="data" class="table table-striped" >
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Contacto</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Direcci&oacute;n</th>
            <th>Web</th>
            <th>Correo</th>
            <th>Comentarios</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in supplier %}
            <tr>
                <td>{{supplier.name_company}}</td>
                <td>{{supplier.name_contact}}</td>
                <td>{{supplier.phone_number}}</td>
                <td>{{supplier.cel_phone}}</td>
                <td>{{supplier.address}}</td>
                <td>{{supplier.web}}</td>
                <td>{{supplier.email}}</td>
                <td>{{supplier.comments}}</td>
                <td>
                    <a class="delete-s" data-url-s="{% url 'delete_s' supplier.id %}">
                        <span class="lnr lnr-trash"></span>
                    </a>
                </td>
                <td>
                    <a class="show-update-s" data-url-s="{% url 'update_s' supplier.pk %}">
                        <span class="lnr lnr-pencil"></span>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7" class="text-center bg-warning">No hay provedores!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script type="application/javascript">
    $(function() {
        $('#data').DataTable( {
            responsive: true,
            autoWidth: false,
            "language" : {
                "sUrl" : '{% static "assets/spanish.txt" %}'
            },
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell'
                }
            ]
        } );
    } );
</script> 
