{% for pdfdoc in pdfdoc %}
    {% if  data.name == pdfdoc.microbusiness.name %}  
        <tr>
            <div class="row justify-content-md-center" id="updatepdf">
                <div class="col col-lg-11">
                    <td>{{pdfdoc}}</td>
                    <td>
                        <a class="delete-pdf lnr lnr-cross pull-right" data-url-pdf="{% url 'delpdf' pdfdoc.id%}"></a>
                    </td>
                </div>
            </div>
        </tr>  
    {% endif %}
{% endfor %}