{% for allcomment in allcomment %}
    {% if  data.name == allcomment.microbusiness.name %}  
        <tr>
            <div class="row justify-content-md-center ">
                <div class="col col-lg-11">
                    <a class="comment-details" data-url-comment="{% url 'details_comm' allcomment.id %}">{{allcomment|truncatechars:60}}</a>
                    <td>
                        <a class="delete-comment lnr lnr-cross pull-right" data-url-comment="{% url 'delcomment' allcomment.id %}"></a>
                    </td>
                    <td> 
                        &nbsp;&nbsp;
                        <a class="update-comment lnr lnr-pencil pull-right" data-url-comment="{% url 'update_comm' allcomment.id %}"></a>
                    </td>
                </div>
            </div>
        </tr>  
    {% endif %}
{% endfor %}