{% extends "base.html" %} 
{% block title %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="page-title">
            <a type="button" class="lnr lnr-chevron-left" onclick="goBack()"></a>&nbsp;&nbsp;
            {{data.name}} 
        </h3>
    </div>
</div>
{% endblock title %}
{% block body_block %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Comments -->
                <div class="panel">
                    <div class="col-sm-12">
                        <div class="panel-heading">
                            <a type="button" class="comment-form" data-url-comment="{% url 'add_comment' %}">
                                <span class="lnr lnr-plus-circle pull-right"></span>
                            </a>
                            <h3 class="panel-title">Comentarios</h3>
                            <hr>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="modal fade" id="modal-action-comment">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="table-comment">
                            <ul id="add_comment">
                                {% include "inventory/organization/all_comments.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END Comments -->
                <!-- Articulos -->
                <div class="panel">
                    <div class="panel-heading">
                        <a type="button" class="Artic-form" data-url-articles="{% url 'addarticle' %}">
                            <span class="lnr lnr-plus-circle pull-right"></span>
                        </a>
                            <h3 class="panel-title">Articulos asignados</h3>
                        <hr>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="modal fade" id="modal-action-articles">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="table-articles">
                            <ul id="show_articles">
                                {% include "inventory/organization/all_artic.html" %}
                            </ul>
                        </div> 
                    </div>
                </div>
                <!-- END articulos -->
            </div>
            <div class="col-md-6"> 
                <!-- Pdf -->
                <div class="panel">
                    <div class="col-sm-12">
                        <div class="panel-heading">
                            <a type="button" class="pdf-form" data-url-pdf="{% url 'add_pdf' %}">
                                <span class="lnr lnr-plus-circle pull-right"></span>
                            </a>
                                <h3 class="panel-title">Documentos</h3>
                            <hr>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="modal fade" id="modal-action-pdf">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="table-pdf">
                            <ul id="uploadpdf">
                                {% include "inventory/organization/all_documents.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END Pdf -->
                <!-- Usuarios -->
                
                <!-- END Usuarios -->
            </div>
        </div>
    </div>
</div>

{% endblock body_block %}