{% extends "base.html" %} 
{% block title %}
<div class="row">
    <div class="col-sm-12">
        <h3 class="page-title">{{data.name}}</h3>
        <ol class="breadcrumb pull-right">
            <a class="show-form-delete lnr lnr-pencil" href="{% url 'update_mb' data.id %}"></a>
        </ol>
        <a type="button" class="lnr lnr-chevron-left" onclick="goBack()"></a>
    </div>
</div>
{% endblock title %}
{% block body_block %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Comments -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comentarios</h3>
                    </div>
                    <div class="panel-body">
                        {{data.comments}}
                    </div>
                </div>
                <!-- END Comments -->
                <!-- Articulos -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Articulos asignados</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
                <!-- END articulos -->
            </div>
            <div class="col-md-6"> 
                <div class="panel">
                    <div class="col-sm-12">
                        <div class="panel-heading">
                            <a type="button" class="pdf-form" data-url-pdf="{% url 'add_pdf' %}">
                                <span class="lnr lnr-plus-circle pull-right"></span>
                            </a>
                            <h3 class="panel-title">Documentos</h3>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="modal fade" id="modal-action-pdf">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="table-pdf">
                            <ul>
                                {% include "inventory/organization/all_documents.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END Pdf   -->
                <!-- Usuarios -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Usuarios</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
                <!-- END Usuarios -->
            </div>
        </div>
    </div>
</div>

{% endblock body_block %}