<form data-url-comment="{% url 'details_comm' allcomment.id %}" class="comment-details">
	<div class="modal-header"> 
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
		<h4 class="modal-title">Comentarios</h4> 
	</div> 
	<div class="modal-body"> 
		<div class="form-row">
			<!-- comments-->
			<p >{{allcomment.comment}}</p>
		</div>
	</div>
    <br>
	<div class="modal-footer">
		<input type="button" value="Cerrar" class="btn btn-secundary" data-dismiss="modal">
	</div>
</form>