{% extends "base.html" %}

{% block title %}
<div class="row">
  <div class="col-sm-12">
      <h4 class="pull-left page-title"> Areas </h4>
      <ol class="breadcrumb pull-right">
          <li><a href="#">Areas</a></li>
          <li> <a href="{% url 'feed' %}"> Inventario</a></li>
      </ol>
  </div>
  <div class="col-sm-6">
      <div class="m-b-30">
        <a type="button" class="btn btn-primary Microb-form" data-url-m="{% url 'add_m' %}">
          <span class="glyphicon glyphicon-plus"></span>
          Agregar
        </a>
      </div>
  </div>
</div>
{% endblock title %}
{% block body_block %}
<div class="container">
  <div class="row">
      <div class="col-md-10">
          <div class="modal fade" id="modal-mb">
              <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row" id="tableM">
    <ul>
      {% include 'inventory/category/microbusiness_list.html'%}
    </ul>
  </div>
</div>
{% endblock body_block %}