{% load static %}
<!doctype html>
<html lang="en">
<head>
	<title>Copperhead</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/iconcop.png' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/demo.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>
<body>
	<div id="wrapper">    
		<nav class="navbar navbar-default panel navbar-fixed-top">
			<div class="brand">
				<a><img src="{% static 'assets/img/logo-darks.png' %}" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<!-- Menu for user and profile-->
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'assets/img/favicon.png' %}" class="img-circle"> <span>{{user.username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Configuraciones</span></a></li>
								<li><a href="{% url 'users:logout' %}"><i class="lnr lnr-exit"></i> <span>Salir</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="{% url 'feed' %}" class=""><i class="lnr lnr-database"></i> <span>Inventario</span></a></li>
					</ul>
					<ul class="nav">
						<li><a href="{% url 'feedc' %}" class=""><i class="lnr lnr-inbox"></i> <span>Utilities</span></a></li>
					</ul>
					<ul class="nav">
						<li><a href="{% url 'feed_s' %}" id="btnload" class=""><i class="lnr lnr-apartment"></i> <span>Provedor</span></a></li>
					</ul>
					<ul class="nav">
						<li><a href="{% url 'reports' %}" class=""><i class="lnr lnr-chart-bars"></i> <span>Reportes</span></a></li>
					</ul>
					<ul class="nav">
						<li><a href="{% url 'users:l_register' %}" class=""><i class="lnr lnr-users"></i> <span>Usuarios</span></a></li>
					</ul>
					<ul class="nav">
						<li><a href="#" class=""><i class="lnr lnr-cog"></i> <span>Configuraciones</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="main">
			<div class="content">
				<div class="auto">
					<div class="panel panel-headline">
						<div class="panel-heading">
							{% block title %}
							{% endblock title %}
						</div>
					</div>
					{% block body_block %}
					{% endblock body_block %}
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
	<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>
	<script src="{% static 'assets/js/klorofil-common.js' %}"></script>
	<script src="{% static 'assets/js/actions.js' %}"></script>
	<script src="{% static 'assets/js/searchbar.js' %}"></script>
	{% block javascript %}
	{% endblock javascript %}
</body>
</html>
