{% extends "base.html" %}

{% load static %}
{% block body_block %}

    <div class="container-fluid">
        <div class="panel panel-profile" style="height:32em;">
                <!-- LEFT COLUMN -->
                <div class="profile-left">
                    <!-- PROFILE HEADER -->
                    <div class="profile-header">
                        <div class="overlay"></div>
                        <div class="profile-main">
                            <a href="{% url 'users:update_profile' %}" class="pull-right">Editar perfil</a>
                            {% if  user.profile.picture %}
                                <img  src="{{ user.profile.picture.url }}"  class="img-circle" alt="Avatar" width="90px">
                            {% else%}
                                <img src="{% static 'assets/img/favicon.png' %}" class="rounded-circle" height="50" />
                            {% endif %}
                            <h3 class="name">@{{ user.username}}</h3>
                        </div>
                        <div class="profile-stat">
                            <div class="row">
                                <div class="col-md-6 stat-item">
                                    Micronegocio<span>{{user.profile.microbusiness}} </span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <div class="profile-info">
                            <h4 class="heading">Información</h4>
                            <ul class="list-unstyled list-justify">
                                <li>Celular <span>{{ user.profile.phone_number }}</span></li>
                                <li>Acerda de:<span>{{ user.profile.biography }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <br>
        </div>
    </div>

{% endblock body_block %}